<%= form_for @picture , html: { multipart: true } do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-4">
    <div class="form-group">
      <%= f.text_field :name, class: 'form-control' %>    
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" id="btn_picture_upload"> Upload </button>    
      <%= f.submit'Submit' , class: 'btn btn-primary' %>

    </div>
    <%= f.file_field :file %>
    <div class="actions">
    </div>
    
  </div>
  <div class="col-md-8">
    <img id="picture_file_preview" alt="notre image" src="" />
  </div>
<% end %>
