<p id="notice"><%= notice %></p>

<h1>Listing Pictures</h1>
  <div>
    <%= link_to 'New Picture', new_picture_path, class: 'btn btn-primary' %>
  </div>
<% @pictures.each do |picture| %>
  <div class="picturesContainer">
      <div class="pictureThumb" data-toggle="modal" data-target=".images-<%= picture.id %>" >
          <%= image_tag picture.file.url(:thumbBig) %>
      </div>
      <div class="pictureActions">
          <div data-toggle="modal" data-target=".images-<%= picture.id %>" class="btn btn-warning btn-xs">
          <i class='glyphicon glyphicon-eye-open'></i>Afficher      
          </div>

        <%= link_to  edit_picture_path(picture) do %>
          <div  class="btn btn-primary btn-xs">
            <i class='glyphicon glyphicon-plus '></i>Modifer      
          </div>
        <% end %>
        <%= link_to  picture, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <div class="btn btn-danger btn-xs">
            <i class='glyphicon glyphicon-trash'></i>Supprimer     
          </div>
        <% end %>
      </div>
        <div class="modal fade images-<%= picture.id %>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <%= image_tag picture.file.url(:large) %> 
            </div>
          </div>
        </div>
  </div>
<% end %>


<br>

  <div class="col-md-12">
    <%= link_to 'New Picture', new_picture_path, class: 'btn btn-primary' %>
  </div>
